<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamup.mihaylov.teamup">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".TeamUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DrawerNavMain.DrawerNavMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.TeamUpApplication.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity android:name=".UserProfile.UserProfileActivity" />
        <activity android:name=".SignIn.SignInActivity" />
        <activity android:name=".SignUp.SignUpActivity" />
        <activity android:name=".Events.CreateEvent.CreateEventActivity" />
        <activity android:name=".Events.ListEvents.ListAllEvents.ListEventsActivity" />
        <activity android:name=".Events.EventDetails.EventDetailsActivity" />
        <activity android:name=".Events.ListEvents.ListCreatedEvents.ListCreatedEventsActivity" />
        <activity android:name=".Events.ListEvents.ListJoinedEvents.ListJoinedEventsActivity"></activity>
    </application>

</manifest>